PORT=5001
MONGO_URI=mongodb://localhost:27017/medimind_auth
JWT_SECRET=your_super_secret_jwt_key_min_32_chars
JWT_EXPIRES_IN=7d
INTERNAL_SERVICE_KEY=your_internal_microservice_secret_key
NODE_ENV=development
